@media (max-width: 375px) {
    body {
        font-size: 15px;
    }
    .header {
        display: none;
    }
}

@media (min-width: 769px) {

    body {
        font-size: 15px;
    }
    .header {
        display: block;
    }
}
